
  .red {
    
    color: red;
    
  }
  
html {color: black; }

#box1 {
    background-color: #30380B;
    color: white;
    width: 400px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}